nav{
    background: rgb(223, 223, 223);
    border:rgb(125, 8, 47);
    /* border - обводка */
    width: 300px;
    /* ширина навигационного меню (списка) */
    position: fixed;
    /* позиция привязана к точке на экране */
    top: 45px;
    margin-left: 10px;
    padding: 10px;
    box-sizing: border-box;
    opacity: .1;
    transition: all 0.5s ease;
}

nav:hover{
    opacity: 1;
    transition: all 0.1s ease;
}